.box-container{
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
  margin-top: 50px;
}
.box {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  /* display: inline-block;
  margin-right: auto;
  border-radius: 5px;
  margin-top:50px; */
}
.sign-container{
  width: 250px;
  height: 500px;
  margin: 50px auto;
  background-color: dimgray;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.sign{
  width:70%;
  height: 150px;
  background-color: rgb(3, 251, 3);
  border-radius: 50%;


}